<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="Azure.Core" version="1.37.0" targetFramework="net461" />
  <package id="bootstrap" version="3.4.1" targetFramework="net46" />
  <package id="chilkat-x64" version="9.5.0.91" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net48" />
  <package id="EAGetMail" version="4.6.5.1" targetFramework="net461" />
  <package id="elmah" version="1.2.2" targetFramework="net48" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="jQuery" version="3.4.1" targetFramework="net46" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net46" />
  <package id="MailKit" version="3.4.2" targetFramework="net461" />
  <package id="MailSystem.NET" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net46" />
  <package id="Microsoft.Graph.Core" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Identity.Client" version="4.59.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.4.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.4.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="7.4.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="7.4.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="7.4.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.4.1" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net46" />
  <package id="Microsoft.Kiota.Abstractions" version="1.7.12" targetFramework="net461" />
  <package id="Microsoft.Kiota.Authentication.Azure" version="1.1.4" targetFramework="net461" />
  <package id="Microsoft.Kiota.Http.HttpClientLibrary" version="1.3.7" targetFramework="net461" />
  <package id="Microsoft.Kiota.Serialization.Form" version="1.1.5" targetFramework="net461" />
  <package id="Microsoft.Kiota.Serialization.Json" version="1.1.8" targetFramework="net461" />
  <package id="Microsoft.Kiota.Serialization.Multipart" version="1.1.3" targetFramework="net461" />
  <package id="Microsoft.Kiota.Serialization.Text" version="1.1.4" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Facebook" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Google" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Twitter" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1586.0" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="MimeKit" version="3.4.2" targetFramework="net461" />
  <package id="Modernizr" version="2.8.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
  <package id="Npgsql" version="6.0.7" targetFramework="net461" />
  <package id="NPoco" version="5.3.2" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="Pop3Client" version="3.0.6474.16527" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net461" />
  <package id="SSH.NET" version="2024.0.0" targetFramework="net461" />
  <package id="Std.UriTemplate" version="0.0.54" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.4.1" targetFramework="net461" />
  <package id="System.Linq.Async" version="5.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WebGrease" version="1.6.0" targetFramework="net46" />
</packages>